January2023Practice/HelloIndia/SOA/Schemas/HelloIndiaRequestschema.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.practice.com/june/practice/HelloIndia"
            targetNamespace="http://www.practice.com/june/practice/HelloIndia" elementFormDefault="qualified">
  <xsd:element name="exampleElement">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="HelloIndiaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="India" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
